In [18]:
class Employee:
    def __init__(self, name, id):
        self.name = name
        self.id = id
    
    def show_details(self):
        print(f"The name of Employee {self.name.upper()} and id is {self.id}")

In [19]:
e1 = Employee("Tanveer","53")

In [20]:
e1.show_details()

The name of Employee TANVEER and id is 53

In [21]:
class programmer(Employee):
    def __init__(self, name, id, Age):
        self.Age = Age
        super().__init__(name,id)
    def programmer_detail(self):
        print(f"The name of Employee {self.name.upper()} and id is {self.id} and Age is {self.Age}")

In [22]:
class country(programmer):
    def __init__(self,name, id, Age,Country):
        super().__init__(name,id,Age)
        self.country = Country
    def country_details(self):
        print(f"The name of Employee {self.name.upper()},  id is {self.id}, Age is {self.Age},from {self.country} ")

In [23]:
e1 = Employee("Tanveer", "53")
e1.show_details()

The name of Employee TANVEER and id is 53

In [24]:
e2= programmer("Tanveer","53","32")
e2.programmer_detail()

The name of Employee TANVEER and id is 53 and Age is 32

In [25]:
e3 = country("Tanveer","53","32","India")
e3.country_details()

The name of Employee TANVEER,  id is 53, Age is 32,from India